@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
    url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.eot');
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
    url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueLight.eot');
    src: local('Bebas Neue Light'), local('BebasNeueLight'),
    url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueLight.woff') format('woff'),
    url('../fonts/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Thin.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
    url('../fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-Thin.woff') format('woff'),
    url('../fonts/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.eot');
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
    url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBook.woff') format('woff'),
    url('../fonts/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #222;
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header, footer {
        width: 100%;
    }

    .content {
        width: 100%;
        flex-grow: 1;
    }
}

main {
    background: #e7e8eb;
}

a {
    text-decoration: none;
    color: #13abaf;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-add {
    min-height: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid #e5e5e5;
    padding: 5px 30px;
    color: #222;
    font-weight: 600;
}

.h2-title {
    text-align: center;
    font-weight: 600;
    font-size: 45px;

    span {
        position: relative;
        padding: 0 50px;

        &:after, &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 4px;
            background: #ffbb37;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            margin-top: -5px;
        }

        &:before {
            right: auto;
            left: 0;
        }
    }
}

.h2-title {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
}

.h1-title {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 45px;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
}

.btn-yell {
    background: linear-gradient(87deg, #ffbb37 0, #ffef37 100%);
    display: inline-flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    border: none;
    padding: 5px 25px;

    &:hover {
        background: linear-gradient(87deg, #ffef37 0, #ffbb37 100%);
    }
}

.btn-blue {
    background: #aee8ea;
    display: inline-flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #222222;
    padding: 5px 25px;

    &:hover {
        background: linear-gradient(87deg, #ffef37 0, #ffbb37 100%);
    }
}

.btn-green {
    background: #aee8ea;
    display: inline-flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #222222;
    padding: 5px 25px;

    &:hover {
        background: linear-gradient(87deg, #ffef37 0, #ffbb37 100%);
    }
}

.btn__site {
    background: linear-gradient(87deg, #ffbb37 0, #ffef37 100%);
    display: inline-flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    padding: 5px 25px;

    &:hover {
        background: linear-gradient(87deg, #ffef37 0, #ffbb37 100%);
    }
}

.btn-yell-outline {
    border: 2px solid #ffbb37;
    display: inline-flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #222;
    padding: 5px 25px;

    &:hover {
        color: #ffbb37;
    }
}


.section-gray {
    background: #e7e8eb;

}

.section-padding {
    padding: 80px 0;
}

.section-margin {
    margin: 80px 0;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;

    li {
        margin-right: 10px;

        span {
            font-size: 14px;
            color: #000000;
        }

        a {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #757575;

            &:after {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                background: #222222;
                margin-left: 10px;
            }
        }
    }
}

select {
    width: 100%;
    min-width: 0 !important;
    max-width: 420px;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #acacac;
    padding: 5px 30px 5px 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    font-weight: 400;
    height: 40px;
    background: #ffffff;
    z-index: 50;
}

.irs {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
}

.irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0;
}

.irs-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
}

.irs-handle {
    position: absolute;
    display: block;
    box-sizing: border-box;
    cursor: default;
    z-index: 1;
}

.irs-handle.type_last {
    z-index: 2;
}

.irs-min,
.irs-max {
    position: absolute;
    display: block;
    cursor: default;
}

.irs-min {
    left: 0;
}

.irs-max {
    right: 0;
}

.irs-from,
.irs-to,
.irs-single {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.irs-with-grid .irs-grid {
    display: block;
}

.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000;
}

.irs-grid-pol.small {
    height: 4px;
}

.irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    color: #000;
}

.irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
}

.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}

.irs-disabled {
    opacity: 0.4;
}

.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}

.irs--flat {
    height: 40px;
}

.irs--flat.irs-with-grid {
    height: 60px;
}

.irs--flat .irs-line {
    top: 25px;
    height: 2px;
    background-color: #14a8ab;
    border-radius: 4px;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 2px;
    background-color: #14a8ab;
}

.irs--flat .irs-bar--single {
    border-radius: 4px 0 0 4px;
}

.irs--flat .irs-shadow {
    height: 1px;
    bottom: 16px;
    background-color: #dee5eb;
}

.irs--flat .irs-handle {
    top: 22px;
    width: 16px;
    height: 18px;
    background-color: transparent;
}

.irs--flat .irs-handle > i:first-child {
    position: absolute;
    display: block;
    top: -2px;
    left: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid #1b1c1e;
    cursor: pointer;
    margin-left: -6px;
    border-radius: 1px;
    background-color: #fff !important;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
    background-color: #5783f4;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    top: 0;
    padding: 1px 3px;
    color: #5d687d;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    background-color: #dee5eb;
    border-radius: 4px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    color: white;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #14a8ab;
    border-radius: 4px;
}

.values__range_slider {
    margin-top: 12px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #14a8ab;
}

.irs--flat .irs-grid-pol {
    background-color: #dee5eb;
}

.irs--flat .irs-grid-text {
    color: #5d687d;
}
