header {
    .top {
        padding: 15px 0;
    }

    .bottom {
        border-top: 2px solid #e5e5e5;
        border-bottom: 2px solid #e5e5e5;
    }

    .navbar {
        padding: 0;
    }

    .btn-add {
        margin: -2px 0;
    }

    .logo {
        img {
            max-width: 210px;
        }
    }
}
