#cities {
    .modal-dialog {
        max-width: 1000px;
    }

    .modal-body {
        padding: 30px;
        padding-top: 50px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        background: none;
        border: none;
        z-index: 9;
    }

    .ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    ul {

        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    .h2-title {
        margin-bottom: 30px;
    }

}
